import init.zero.usb.rc

on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard
    chmod 7777 /data/dalvik-cache
    chown system system /data/dalvik-cache

on early-fs
    mkdir /persist
    mount yaffs2 mtd@persist /persist nosuid nodev
    chown system system /persist
    chmod 0777 /persist

on boot-pause
    chown root root /system/bin/battery_charging
    chmod 0777 /dev/misc_battery_boot
    chmod 0777 /dev/misc_version_boot
    exec /system/bin/battery_charging

on boot

    chown system system /sys/module/msm_battery/parameters/usb_chg_enable    
    mkdir /data/misc/sensors 0770 compass system
    symlink /persist/qcom_wlan_nv.bin /etc/firmware/wlan/qcom_wlan_nv.bin

    chmod 777 /dev/graphics/fb0
    chmod 777 /system/etc/lcdvcom
    chmod 666 /dev/threadright0

    mkdir /data/simcom       0777 system system
    mkdir /data/simcom/simlog        0777 system system
    chmod 777 /data/simcom/simlog
    mkdir /data/simcom/btadd        0777 system system
    chmod 777 /data/simcom/btadd

    ## RIL needs this
    mkdir /data/radio 0777

    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # Create the directories used by the Wireless subsystem
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/cert 0770 wifi wifi
    mkdir /data/misc/wifi/cert/user 0770 wifi wifi
    mkdir /data/misc/wifi/cert/as 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chmod 0770 /data/misc/wifi/cert/as
    chown dhcp dhcp /data/misc/dhcp

    mkdir /data/radio 0770 radio radio
    chown radio radio 0770 /data/radio

    write /sys/devices/platform/mass_storage/lun0/file /dev/block/mmcblk0p1
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 1
    
    # Adjust socket buffer to enlarge TCP receive window for high bandwidth
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

    mount debugfs /sys/kernel/debug /sys/kernel/debug


on property:dev.bootcomplete=1
    # Adjust cpufreq to smartassV2
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor smartass2

    # performance tweaks for flash
    write /sys/block/mtdblock3/bdi/read_ahead_kb 4
    write /sys/block/mtdblock4/bdi/read_ahead_kb 4
    write /sys/block/mtdblock5/bdi/read_ahead_kb 4

    # increase read throughput from sd card
    write /sys/block/mmcblk0/bdi/read_ahead_kb 2048
    write /sys/devices/virtual/bdi/179:0/read_ahead_kb 2048

    # enable low memory killer to check file pages
    write /sys/module/lowmemorykiller/parameters/minfree 3584,4096,8192,10240,11264,12288
    write /sys/module/lowmemorykiller/parameters/minfile 0,0,0,5120,5632,6144
    write /sys/module/lowmemorykiller/parameters/check_filepages 1

    write /proc/sys/kernel/sched_latency_ns 5000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 100000
    write /proc/sys/kernel/sched_min_granularity_ns 100000

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 262144
    write /proc/sys/net/core/wmem_max 262144

    setrlimit 8 268435456 268435456

    stop dhcp-service
    start dhcp-service

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000
    start btwlancoex

on property:init.svc.bluetoothd=stopped
    stop btwlancoex

service btwlancoex /system/bin/sh /system/etc/init.qcom.coex.sh
    class main
    user root
    group bluetooth net_bt_admin
    disabled
    oneshot

service hwprops /sbin/hwprops
    class main
    critical
    disabled
    oneshot

service hciattach /system/bin/sh /system/bin/init.qcom.bt.sh
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service qmuxd /system/bin/qmuxd
    class main

service wpa_supplicant /system/bin/wpa_supplicant -Dawext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
    user root
    group wifi inet
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    write /sys/devices/platform/msm_sdcc.2/polling 0
    stop dhcpcd_wlan0

on property:init.svc.wpa_supplicant=running
    write /sys/devices/platform/msm_sdcc.2/polling 1
    start dhcpcd_wlan0

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL wlan0
    class main
    disabled
    oneshot

service memsicd /system/bin/memsicd
    class main
    user compass
    oneshot

service wifi-loader /system/bin/logwrapper /system/bin/wificit.sh
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
        class main
        disabled
        oneshot

service dhcp-service /system/bin/netcfg wlan0 dhcp
        class main
        oneshot
